$brand-primary:         #b0c447 !default;

$tooltip-max-width:           400px;
$tooltip-color:               #000;
$tooltip-bg:                  #FFF;
$tooltip-opacity:             .9;
$tooltip-arrow-color:         $tooltip-color;

$label-color:                 #fff;
$label-link-hover-color:      #fff;
$well-bg:                     #FFFFFF;
$icon-font-path: "../fonts/" !default;
