// customize bootstrap variables here:
@import "variables";
@import "bootstrap";

body {
    background-image: url("../images/body_bg.png");
    background-repeat: repeat;
}

.login-box {
    margin-top: 30px;
}
