// customize bootstrap variables here:
@import "variables";
@import "bootstrap";
@import "sprites";

body {
    background-image:url(../images/elements/body.png);
    background-repeat: repeat;
}

textarea{
    resize:vertical;
}

.green_bg{
    background-image: url(../images/elements/bar-bg.jpg);
    background-repeat: repeat;
}

.pointer{
    cursor:pointer;
}

.help{
    cursor: help;
}

.navbar-default{
    background-image: url(../images/elements/header.png);
    background-position: bottom;
    background-repeat: repeat-x;
    background-color:#FFF;
}

.navbar-default{
    .navbar-brand{
        padding:4px 10px;
        margin:0px;
    }
}

.divider-block{
    display:block;
    @extend .green_bg;

    &.horizontal{
        width:100%;
        height:10px;
        clear:both;
    }
}

/* Sidebar */

#toggle-sidecontent{
    @extend .pointer;
}

#sidecontent{
    width:3%;
    .panel-heading {
        padding: 10px 0px;
        @extend .text-center;

        #sidecontent-title{display:none;}

        #toggle-sidecontent{
            .glyphicon{
                @extend .glyphicon-eye-open;
            }
        }
    }
    .panel-body{display:none;}
}

.divider{
    @extend .clearfix;
    height:1px;
    background:#CCCCCC;
    margin:10px 0px !important;
}

#content {width: 96%;}

.use-sidecontent {
    #content {width: 66%;}
    #sidecontent {
        width: 33%;
        .panel-body{display:block;}
        .panel-heading {
            @extend .text-left;
            padding: 10px 14px;

            #sidecontent-title{display:block;}

            #toggle-sidecontent{
                @extend .pull-right;
                .glyphicon{
                    @extend .glyphicon-eye-close;
                }
            }
        }
    }
}

.sidecontent-at-left{
    #content{float: right;}
    #sidecontent {float: left;}
}

.sidecontent-at-right{
    #content{float: left;}
    #sidecontent {float: right;}
}

#button-bar{
    right:0px;
}

#main-container{
    margin-top:60px;
}

/* Forms */
.form-group{
    margin-bottom:13px;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
    padding-top:4px;
}

.info-sign{
    padding-top: 10px;
    color: #bbd6ff;
}

/* Login */
#login{
    margin-top:100px;

    .panel{
        border:1px solid #888;
    }
    .panel-heading{
        @extend .green_bg;
        border-bottom:1px solid #888;
        color:#FFF;
    }

    #logo{
        margin:0 auto 10px;
    }
}

/* Bootstrap Overrides */
.panel-default>.panel-heading{
    background-image: url(../images/elements/header.png);
    background-position: top;
    background-repeat: repeat-x;
    background-color: #FFF;
}

.breadcrumb{
    background:none;
    padding: 0px 30px 0px;
    margin-bottom: 10px;
    li a,
    li.active{
        font-size:10px;
    }
    >li+li:before {
        content: "\203A";
        padding: 0 5px;
        color: #ccc;
    }
}

ul.nav-tabs{
    margin-bottom:15px;
}

.tooltip{
    .tooltip-inner{
        border: 1px solid #000;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (max-width:$screen-md-min) {
    #login{
        margin-top:50px;
    }
}

/* Small devices (tablets, 768px and up) */
@media (max-width:$screen-sm-min) {
    #login{
        margin-top:10px;
    }
}
