@vendor: '../bower_components';

@import '@{vendor}/bootstrap/less/bootstrap.less';
@import '@{vendor}/font-awesome/less/font-awesome.less';
@import '@{vendor}/simple-line-icons/less/simple-line-icons.less';
@import '@{vendor}/flag-icon-css/less/flag-icon.less';

@import "_variables.less";
@import "_mixins.less";

@import "_reset.less";
@import "_layout.less";
@import "_nav.less";
@import "_nav.offscreen.less";
@import "_nav.dock.less";

@import "_arrow.less";
@import "_widgets.less";

@import "_components.less";
@import "_plugin.less";
@import "_item.less";
@import "_ng.less";

@import "_colors.less";
@import "_utilities.less";

@import "_wysiwyg.less";

body, .bg_body{
    background:url(../images/bg_body.png);
}

.vertical-top{vertical-align: top !important;}
.vertical-middle{vertical-align: middle !important;}

.bg_linen{
    background:url(../images/linen_header.jpg);
    color:@white;
}

.bg_sub_header{
    background:url(../images/bg_sub_header.jpg);
}

.table {
    thead{
        background:@brand-dark;
        color:@brand-light;
    }
}

.navbar-form .input-group>.form-control:focus{
    background:@white;
}

.dropdown-menu{
    text-shadow: none;
}

/*### LOGIN ###*/
.login-container {
    width:580px;
    margin-top: 55px;

    .form-group{
        &.no-margin{
            margin-bottom:0px;
        }
    }

    small{
        font-size:0.8em;
    }

    .panel{
        background:url('../images/linen_login.jpg') top center no-repeat;
        width:450px;
        margin-left:50px;
        margin-bottom:0px;
        padding: 10px 24px 24px 24px;
        border: 1px solid #333;
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        box-shadow: inset 0 0 1px #ccc;
        -o-box-shadow: inset 0 0 1px #ccc;
        -webkit-box-shadow: inset 0 0 1px #ccc;
        -moz-box-shadow: inset 0 0 1px #ccc;
    }

    #login-subheader {
        width:450px;
        margin-left:50px;
        text-align: center;
        padding: 5px 24px 5px 24px;
        color: @white;
        text-shadow: #000 0 0 2px;
        border-top: 1px solid #9dad49;
        border-bottom: 1px solid #9dad49;

        &:extend(.bg_sub_header);

        h4 {
            font-size: 15px;
            margin: 0 10px;
        }
    }

    #login-header {
        padding: 10px 24px 0px 24px;
        width:450px;
        margin-left:50px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background: @white url("../images/bg_gradient.jpg") left bottom repeat-x;
        text-align: right;

        img{
            margin-bottom: 20px;
        }
    }

    .link-white{
        &:extend(.text-light);
        &:hover{
            &:extend(.text-white);
        }
    }

    .btn{
        margin:0 auto;
        font-weight:bold;
        padding: 4px 12px;
        color: #444;
        text-shadow: 0px 1px 1px @white;
        border-color: #f9f9f9;
        background: #f9f9f9;
        background: -moz-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#e2e2e2));
        background: -o-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
        background: -ms-linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
        background: linear-gradient(top, #f9f9f9 0%, #e2e2e2 100%);
        box-shadow: inset 0 1px 0 0 @white;
        -moz-box-shadow: inset 0 1px 0 0 @white;
        -webkit-box-shadow: inset 0 1px 0 0 @white;
        -o-box-shadow: inset 0 1px 0 0 @white;

        &:hover, &:focus{
            box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 @white;
            -moz-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 @white;
            -webkit-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 @white;
            -o-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9), inset 0 1px 0 0 @white;
            color: #000;
        }

        &:active{
            color: #333;
            background: -moz-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dcdcdc), color-stop(100%,#f9f9f9));
            background: -o-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
            background: -ms-linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
            background: linear-gradient(top, #dcdcdc 0%, #f9f9f9 100%);
        }
    }

    .panel-footer{
        &:extend(.text-white);
        background:none;
        border:none;
        text-align:right;
    }
    .box-bottom {
        background: url(../images/login_shadow.png) top center no-repeat;
        margin-top: -3px;
        padding-top: 10px;
        width:550px;
        height:10px;
    }
}

.bottomline{
    font-size: 6px;
    text-align: center;
    margin-top: 2em;
    color: #333;

    a:hover{
        &:extend(.text-primary);
    }
}

.marked-deleted {
  filter:alpha(opacity=50);
  opacity:0.5;
}

.nav-tabs{
  > li {
    > a {
      color: @nav-tabs-active-link-hover-color;
      background-color: @nav-tabs-active-link-hover-bg;
      border: 1px solid @nav-tabs-active-link-hover-border-color;
      border-bottom-color: transparent;
      cursor: default;
    }
  }
  > .active {
    > a {
      background-color: #ffffff !important;
    }
  }
}

.timeline-sidebar {
  .tl-date {
    margin-left: -8.5em;
    width: 5.5em;
  }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.shortname-container {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    background-color: #16aad8;
//    padding: 10px;
    padding: 0px;
    display: inline-block;
}

.shortname-container-xs{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    color: #fff;
    line-height: 15px;
    text-align: center;
    background-color: #16aad8;
    padding: 4px;
}

.app-aside-folded{
    .shortname-container {
        font-size: 15px;
    }
}

.modal-scroll-body {
    max-height: calc(75vh) !important;
    overflow-y: auto;
}
